@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,500&family=Mukta:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f2eecb;
}

body {
    font-family: Mukta, sans-serif;
    font-weight: 300;
    color: #515052;
}

/* headings and logo */

h1, h2 {
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #660708;
}

#title {
    float: center;
    font-size: 280%;
    margin-left: 400px;
    margin-top: 5px;
}

#first-title {
    float: left;
  }
  
#logo {
    float:right;
    width:60px;
    height: 55px;
  }

/* navigation links */

#navigation {
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 110px;
}

#navigation, #title {
    line-height: 65px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin: 20px;
}

#navigation a {
    text-decoration: none;
    color: #660708;
}

#navigation a:hover {
    border-bottom: 1px solid ;
}

.active {
    border-bottom: 1px solid #515052;
}

/* hero-image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image { 
    height: 500px;
    width: 100%;
    background: url("../images/hero-image.png") no-repeat center center;
}

#panorama { 
    height: 500px;
    width: 100%;
    background: url("../images/panorama.jpg") no-repeat center center;
}

/* main text */
#main-text {
    width: 80%;
    margin-top: 40px;
    margin-left: 110px;
}

#main-text p {
    margin-right: 70px;
}

#document-image {
    margin-top: 10px;
    height: 1200px;
    width: 100%;
    background: url("../images/document-image.png") no-repeat center center;
}

/* text on wisit us */

#left {
    width: 60%;
    margin:15px;
}

#center {
    width: 60%;
    margin-left: 210PX;
}

#right {
    width: 60%;
    margin-left: 400PX;
   margin-top: 15PX
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* information text */

#map {
    height: 100%;
    width: 100%;
    border: none;
  }

.public-info {
    margin: 15PX;
}

.contact-form {
    margin: 15PX;
}

.text-input {
    background-color: #EAFFFD;
    border:#6B5E62 1px solid
}

.sent {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #709775;
    color: #515052;
    border: none;
    border-radius: 5px;
}

/* footer */

footer {
    height: 150px;

}

.social-networks {
    text-align: center;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    color: #3a3a3a;
}